.dfjkjfs img{
    width: 22%;
}
.navbar-nav li a{
    color: black;
}
.carousel-item active img{
    width: 20%;
    background-color: rgba(255, 255, 255, 0);
}
.djsjhhj ul li a{
    font-weight: 500;
}
.dshjsjd{
    /* text-align: justify; */
}
.sdjsh img{
    width: 100%;
    float: right;
}
.adsja img{
    width: 100%;
}
.dskj img{
    width:100%;
}
.webdesign-info h1{
    font-size: 60px;
}